<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Diploma_HerminiaMarske_Noche_UAI_Lomas.Properties"
            connectionString="Data Source=HERMI-PC;Initial Catalog=UAI_GESTION_AGUILA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Diploma_HerminiaMarske_Noche_UAI_Lomas.Properties.Settings.UAI_GESTION_AGUILAConnectionString"
            connectionString="Data Source=HERMI-PC;Initial Catalog=UAI_GESTION_AGUILA;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>